<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout 1</title>

    <link href="style.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="ib-row headerTop">
                <div class="ib-10 ibs-100 logo">
                </div>
                <div class="ib-40 ibs-100">
                    <div class="dropThat showOnSmall">&#9776;</div>
                    <div class="mainmenu">
                        {% include 'K2PWebBundle:Frontend:_Layout/__menu.html.twig' %}
                        <div class="showOnSmall">{{ knp_menu_render('sylius.frontend.user', {'template': 'K2PWebBundle:Frontend:_Layout/_menu_user.html.twig', 'currentClass': 'active', 'ancestorClass': 'active'}) }}</div>
                    </div>
                </div>
            <div class="ib-50 ibs-100" style="position:relative;">
                <div class="userMenu">
                        <p class="navPhone">Call us now: +421 31 5912626, +421 918 337 227</p>
                    <div class="headerIcons">
                        <a class="cart-button" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="3026 93.646 35 30.195">
                            <path d="M26.789,13.125,19.82,2.688A1.579,1.579,0,0,0,18.5,2.02a1.555,1.555,0,0,0-1.32.684l-6.968,10.42H2.591A1.6,1.6,0,0,0,1,14.715a1.34,1.34,0,0,0,.064.43L5.1,29.893a3.164,3.164,0,0,0,3.055,2.323H28.841a3.2,3.2,0,0,0,3.07-2.323l4.041-14.748.048-.43a1.6,1.6,0,0,0-1.591-1.591Zm-13.061,0,4.773-7,4.773,7ZM18.5,25.852a3.182,3.182,0,1,1,3.182-3.182A3.191,3.191,0,0,1,18.5,25.852Z" transform="translate(3025 91.626)"/>
                            </svg>
                        </a>
                        <a class="cart-button" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="3026 93.646 35 30.195">
                            <path d="M26.789,13.125,19.82,2.688A1.579,1.579,0,0,0,18.5,2.02a1.555,1.555,0,0,0-1.32.684l-6.968,10.42H2.591A1.6,1.6,0,0,0,1,14.715a1.34,1.34,0,0,0,.064.43L5.1,29.893a3.164,3.164,0,0,0,3.055,2.323H28.841a3.2,3.2,0,0,0,3.07-2.323l4.041-14.748.048-.43a1.6,1.6,0,0,0-1.591-1.591Zm-13.061,0,4.773-7,4.773,7ZM18.5,25.852a3.182,3.182,0,1,1,3.182-3.182A3.191,3.191,0,0,1,18.5,25.852Z" transform="translate(3025 91.626)"/>
                            </svg>
                        </a>
                        <a class="cart-button" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="3026 93.646 35 30.195">
                            <path d="M26.789,13.125,19.82,2.688A1.579,1.579,0,0,0,18.5,2.02a1.555,1.555,0,0,0-1.32.684l-6.968,10.42H2.591A1.6,1.6,0,0,0,1,14.715a1.34,1.34,0,0,0,.064.43L5.1,29.893a3.164,3.164,0,0,0,3.055,2.323H28.841a3.2,3.2,0,0,0,3.07-2.323l4.041-14.748.048-.43a1.6,1.6,0,0,0-1.591-1.591Zm-13.061,0,4.773-7,4.773,7ZM18.5,25.852a3.182,3.182,0,1,1,3.182-3.182A3.191,3.191,0,0,1,18.5,25.852Z" transform="translate(3025 91.626)"/>
                            </svg>
                        </a>
                    </div>
                    <p class="count">(0)<p>
                    <!--<a class="cart-button" href="{{ path('sylius_cart_summary') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="3026 93.646 35 30.195">
                          <path d="M26.789,13.125,19.82,2.688A1.579,1.579,0,0,0,18.5,2.02a1.555,1.555,0,0,0-1.32.684l-6.968,10.42H2.591A1.6,1.6,0,0,0,1,14.715a1.34,1.34,0,0,0,.064.43L5.1,29.893a3.164,3.164,0,0,0,3.055,2.323H28.841a3.2,3.2,0,0,0,3.07-2.323l4.041-14.748.048-.43a1.6,1.6,0,0,0-1.591-1.591Zm-13.061,0,4.773-7,4.773,7ZM18.5,25.852a3.182,3.182,0,1,1,3.182-3.182A3.191,3.191,0,0,1,18.5,25.852Z" transform="translate(3025 91.626)"/>
                        </svg>
                        {{ knp_menu_render('sylius.frontend.cart', {'template': 'K2PWebBundle:Frontend:_Layout/_menu_cart.html.twig'}) }}
                    </a>-->
                </div>
            </div>
        </div>
    </header>


    <!--{% set baner_settings = sylius_settings_all('baner') %}
    {% if app.environment != "test" and baner_settings.baner_active %}-->
          <div class="mainBanner slickBanner">
              <!--{% for image in baner_images %}
                    {% if image.url is null%}-->
                        <div class="mainBannerImage"><!--style="background-image:url({{ image.path|imagine_filter('sylius_baner') }}); width: 100%; height: {{ baner_settings.baner_height }}px;"-->
                            <div class="ib-row">
                                <div class="ib-40 ibs-100 bannerRow1">
                                    <p class="bannerMainTitle">"Lorem ipsum dolor sit amet, consectetur adipiscing elit"</p>
                                    <p class="bannerText1">Suspendisse elementum, sapien non ultricies dignissim, neque erat efficitur libero, at dignissim turpis velit nec neque. Sed luctus libero ut dolor maximus.<p>
                                    <a href="#">
                                        <div class="bannerBtnFlex">
                                            <input type="button" class="bannerBtn" value="CTA"/>
                                        </div>
                                    </a>
                                </div>
                                <div class="ib-60 ibs-100"></div>
                            </div>
                        </div>
                    <!--{% else %}-->
                        <a href="{{ image.url }}" {{ image.inNewWindow ? 'target="_blank"' : '' }} >
                            <div class="mainBannerImage" style="background-image:url({{ image.path|imagine_filter('sylius_baner') }}); width: 100%; height: {{ baner_settings.baner_height }}px;">
                                <div class="ib-row">
                                    <div class="ib-40 ibs-100 bannerRow1">
                                        <p class="bannerMainTitle">"Lorem ipsum dolor sit amet, consectetur adipiscing elit"</p>
                                        <p class="bannerText1">Suspendisse elementum, sapien non ultricies dignissim, neque erat efficitur libero, at dignissim turpis velit nec neque. Sed luctus libero ut dolor maximus.<p>
                                        <a href="#">
                                            <div class="bannerBtnFlex">
                                                <input type="button" class="bannerBtn" value="CTA"/>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="ib-60 ibs-100"></div>
                                </div>  
                            </div>
                        </a>
                    <!--{% endif %}
              {% endfor %}-->
          </div>
            <div class="bannerDown">
                <div class="contentWidth">
                    <div class="ib-row">
                    <div class="ib-33 ibs-100 centerH bannerRow">
                        <svg  class="svgEdit" xmlns="http://www.w3.org/2000/svg" viewBox="3026 93.646 35 30.195" width="100" height="100">
                          <path d="M26.789,13.125,19.82,2.688A1.579,1.579,0,0,0,18.5,2.02a1.555,1.555,0,0,0-1.32.684l-6.968,10.42H2.591A1.6,1.6,0,0,0,1,14.715a1.34,1.34,0,0,0,.064.43L5.1,29.893a3.164,3.164,0,0,0,3.055,2.323H28.841a3.2,3.2,0,0,0,3.07-2.323l4.041-14.748.048-.43a1.6,1.6,0,0,0-1.591-1.591Zm-13.061,0,4.773-7,4.773,7ZM18.5,25.852a3.182,3.182,0,1,1,3.182-3.182A3.191,3.191,0,0,1,18.5,25.852Z" transform="translate(3025 91.626)"/>
                        </svg>
                        <div class="bannerText">
                            <p  class="bannerTextTitle">Fast Delivery</p>
                            <p>
                                Because no one wants to wait, we guarantee speedy delivery, so you can get right to it.
                            </p>
                        </div>
                    </div>
                    <div class="ib-33 ibs-100 centerH bannerRow">
                        <svg  class="svgEdit" xmlns="http://www.w3.org/2000/svg" viewBox="3026 93.646 35 30.195" width="100" height="100">
                          <path d="M26.789,13.125,19.82,2.688A1.579,1.579,0,0,0,18.5,2.02a1.555,1.555,0,0,0-1.32.684l-6.968,10.42H2.591A1.6,1.6,0,0,0,1,14.715a1.34,1.34,0,0,0,.064.43L5.1,29.893a3.164,3.164,0,0,0,3.055,2.323H28.841a3.2,3.2,0,0,0,3.07-2.323l4.041-14.748.048-.43a1.6,1.6,0,0,0-1.591-1.591Zm-13.061,0,4.773-7,4.773,7ZM18.5,25.852a3.182,3.182,0,1,1,3.182-3.182A3.191,3.191,0,0,1,18.5,25.852Z" transform="translate(3025 91.626)"/>
                        </svg>
                        <div class="bannerText">
                            <p class="bannerTextTitle">100% Quality Guarantee</p>
                            <p>
                                We are obsessed with quality. So stop your search, you have just found the best product out there.
                            </p>
                        </div>
                    </div>
                    <div class="ib-33 ibs-100 centerH bannerRow">
                        <svg  class="svgEdit" xmlns="http://www.w3.org/2000/svg" viewBox="3026 93.646 35 30.195" width="100" height="100">
                          <path d="M26.789,13.125,19.82,2.688A1.579,1.579,0,0,0,18.5,2.02a1.555,1.555,0,0,0-1.32.684l-6.968,10.42H2.591A1.6,1.6,0,0,0,1,14.715a1.34,1.34,0,0,0,.064.43L5.1,29.893a3.164,3.164,0,0,0,3.055,2.323H28.841a3.2,3.2,0,0,0,3.07-2.323l4.041-14.748.048-.43a1.6,1.6,0,0,0-1.591-1.591Zm-13.061,0,4.773-7,4.773,7ZM18.5,25.852a3.182,3.182,0,1,1,3.182-3.182A3.191,3.191,0,0,1,18.5,25.852Z" transform="translate(3025 91.626)"/>
                        </svg>
                        <div class="bannerText">
                            <p class="bannerTextTitle">Fair Prices</p>
                            <p>
                                We do not sell cheap imitations! We firmly believe in providing affordable products without sacrificing the quality.
                            </p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
    <!--{% endif %}-->


    <div id="product" style="height: 100%;">
        <div class="ib-row contentWidth">
            <div class="ib-50 ibs-100 productRow">
                <div class="ib-row" style="height: 220px;">
                    <div class="ib-33 productLeft">
                            <img src="http://lorempixel.com/200/200" />
                    </div>
                    <div class="ib-67 productRight">
                        <p class="productName">Wedding Invitations</p>
                        <p class="productShortDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus nisl, condimentum ac diam sit amet, viverra tempor ipsum. </p>
                        <div class="btnMore">
                            <button class="btnLearnMore">Learn more</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ib-50 ibs-100 productRow">
                    <div class="ib-row">
                        <div class="ib-33 productLeft">
                                <img src="http://lorempixel.com/200/200" />
                        </div>
                        <div class="ib-67 productRight">
                            <p class="productName">Wedding Invitations</p>
                            <p class="productShortDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus nisl, condimentum ac diam sit amet, viverra tempor ipsum. </p>
                            <div class="btnMore">
                                <button class="btnLearnMore">Learn more</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="ib-row contentWidth">
                <div class="ib-50 ibs-100 productRow">
                    <div class="ib-row">
                        <div class="ib-33 productLeft">
                                <img src="http://lorempixel.com/200/200" />
                        </div>
                        <div class="ib-67 productRight">
                            <p class="productName">Wedding Invitations</p>
                            <p class="productShortDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus nisl, condimentum ac diam sit amet, viverra tempor ipsum. </p>
                            <div class="btnMore">
                                <button class="btnLearnMore">Learn more</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ib-50 ibs-100 productRow">
                        <div class="ib-row">
                            <div class="ib-33 productLeft">
                                    <img src="http://lorempixel.com/200/200" />
                            </div>
                            <div class="ib-67 productRight">
                                <p class="productName">Wedding Invitations</p>
                                <p class="productShortDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus nisl, condimentum ac diam sit amet, viverra tempor ipsum. </p>
                                <div class="btnMore">
                                    <button class="btnLearnMore">Learn more</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="ib-row contentWidth">
                    <div class="ib-50 ibs-100 productRow">
                        <div class="ib-row">
                            <div class="ib-33 productLeft">
                                    <img src="http://lorempixel.com/200/200" />
                            </div>
                            <div class="ib-67 productRight">
                                <p class="productName">Wedding Invitations</p>
                                <p class="productShortDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus nisl, condimentum ac diam sit amet, viverra tempor ipsum. </p>
                                <div class="btnMore">
                                    <button class="btnLearnMore">Learn more</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ib-50 ibs-100 productRow">
                            <div class="ib-row">
                                <div class="ib-33 productLeft">
                                        <img src="http://lorempixel.com/200/200" />
                                </div>
                                <div class="ib-67 productRight">
                                    <p class="productName">Wedding Invitations</p>
                                    <p class="productShortDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus nisl, condimentum ac diam sit amet, viverra tempor ipsum. </p>
                                    <div class="btnMore">
                                        <button class="btnLearnMore">Learn more</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>



    <!--{% set system_settings = sylius_settings_all('system') %}-->
    <footer>
        <div class="b2bOffer">
            <div class="ib-row">
                <div class="ib-50 ibs-100">
                    <p class="b2bTitle">Kanovits B2B Offer</p>
                    <p class="b2bText" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus orci vel odio auctor efficitur. Aliquam erat volutpat. Sed tempor felis odio, sed tincidunt augue efficitur eget. Nullam metus erat, mattis porttitor fermentum quis, lobortis sed mauris. Vestibulum quis metus hendrerit, congue quam id, mollis eros. Suspendisse vel fermentum erat. Etiam consequat vitae ex sit amet scelerisque.</p>
                    <div class="b2bDown">
                        <span class="b2bimg"></span>
                        <a href="#">
                            <button class="b2bBtn">Learn More</button>
                        </a>
                    </div>
                </div>
                <div class="ib-50 ibs-100">
                    <div class="b2bRight"></div>
                </div>
            </div>
        </div>
        <div class="footerNews">
            <div class="contentWidth">
                <div class="ib-row">
                    <div class="ib-50 ibs-100 leftNews">
                        <p>Sign up to our newsletter</p>
                    </div>
                    <div class="ib-50 ibs-100 toRight Right1">
                        <input type="type" name="text" class="inpNews" placeholder="Your email goes there">
                        <button class="btn">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentWidth mainFooterRow">
            <div class="ib-row">
                <!--<div class="ib-60 ibs-100">
                    <h4>Subscribe to our newsletterer</h4>
                    <div class="newsletterText">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</div>
                    <input type="text" placeholder="E-mail Address"/>
                    <a class="button buttonTeal newsletterButton">Subscribe</a>
                </div>
                <div class="ib-40 hideOnSmall">
                    <div class="ib-row">
                        <div class="ib-40">
                            <h4>{{'k2p.footer.information.contact'|trans}}</h4>
                            <div>
                                +44 345 678 903<br/>
                                +44 345 678 903<br/>
                                +44 345 678 903<br/>
                                YOUR@MAIL.COM
                            </div>
                        </div>
                        <div class="ib-60">{{ knp_menu_render('sylius.frontend.articles', {'template': 'K2PWebBundle:Frontend:_Layout/_menu.html.twig', 'currentClass': 'active', 'ancestorClass': 'active'}) }}</div>
                    </div>
                </div>-->
                <div class="ib-40 ibs-100">
                    <div class="footerLogo" >
                        {% include 'K2PWebBundle:Frontend:_Layout/__logo.html.twig' %}
                    </div>
                    <img src="" alt="">
                    <div class="footerAdress">
                        <p>kanovits media, s.r.o,</p>
                        <p>Alzbetinskie nam. 1.,</p>
                        <p>92901 Dunajska Streda, Slovakia</p>
                    </div>
                    <p class="footerPhone">Call us now: +421 31 5912626</p>
                    <p>Email: shop@kanovits.com</p>
                </div>
                <div class="ib-20 ibs-100 footerRow">
                    <h3>categories</h3>
                    <div class="footer2">
                        <p>Wedding</p>
                        <p>Gift products</p>
                        <p>Photobooks</p>
                        <p>Calendars</p>
                        <p>Business cards</p>
                        <p>Cards</p>
                    </div>
                </div>
                <div class="ib-20 ibs-100 footerRow">
                    <h3>information</h3>
                    <div class="footer2">
                        <p>Contact Us</p>
                        <p>Hoow to order</p>
                        <p>Private inforamtion</p>
                        <p>Terms and conditions</p>
                        <p>Delivery method</p>
                        <p>Payment options</p>
                        <p>Returns policy<p>
                    </div>
                </div>
                <div class="ib-20 ibs-100 footerRow">
                    <h3>categories</h3>
                    <div class="footer2">
                        <p>My orders</p>
                        <p>My project</p>
                        <p>My addresses</p>
                        <p>My personal info</p>
                        <p>My vouchers</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerBottomRow">
            <div class="contentWidth">
                <div class="ib-row">
                    <div class="ib-40 ibs-100">
                        <p>2017 Kanovits Media | Design: Key2Print</p>
                    </div>
                    <div class="ib-60 ibs-100">
                    <div class="payments">
                        <p class="payLeft" >Payments / delivery methods: </p>
                        <ul>
                            <li class="dpd">
                                <span></span>
                            </li>
                            <li class="poczta">
                                <span></span>
                            </li>
                            <li class="dotpay">
                                <span></span>
                            </li>
                            <li class="master">
                                <span></span>
                            </li>
                            <li class="visa">
                                <span></spann>
                            </li>
                        </ul>
                    </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>
    



    



    
</body>
</html>